/*styles for my Resume*/



body {
  font-family:'Open Sans',Arial, sans-serif;
}

#container{
width:100%;
max-width:1200px;
margin:0 auto;
}
/* Name */
#name{
  font-size:3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom:1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*Section Titles*/
.sectionheader{
  font-size: 1.5em;
  background:#33485e;
  color:#fff;
  text-transform:uppercase;
  font-weight: 400;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left: 0;
  width:70%;
  min-width: 300px;
}

/*My Title*/
.title{
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  text-align: center;
  font-weight:600px;
  margin-top:20px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
}

/*Job Titles*/
.jobtitle{
  font-size:1.5em;
  font-weight:600;
}
/*Job Organization*/
.organization{
  font-weight:400;
  font-size: 1.25em;
}
/*Job Dates*/
.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top:2px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  }

/*Description for p tags*/
p.description{
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 0;
  margin-right: 0;
}

/*Unordered list containing contact info*/
.menu{
ul{
margin-top:0;
margin-bottom:0;
margin-right:0;
margin-left:0;
padding:0px;
text-align: center;
}

.menu:target{
ul{
    display:inline-block;
  }

/*Unordered list containing education info*/
#degrees{
margin-top:5px;
margin-bottom:0px;
margin-right:0px;
margin-left:0px;
}

/*Unordered list containing skills section*/
#do{
margin-top:5px;
margin-bottom:0;
margin-right:0;
margin-left:0;
}

/*Mission statement*/
.top{
  width:60%;
  min-width:300px;
  margin:0 auto;
  margin-bottom:30px;
}
