/*styles for my Resume*/



body {
  font-family:'Open Sans',Arial, sans-serif;
}

/* Name */
#name{
  font-size:3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom:1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*Section Titles*/
.sectionheader{
  font-size: 1.5em;
  background:#33485e;
  color:#fff;
  text-transform:uppercase;
  font-weight: 400;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left: 0;
  width:70%
  min-width: 300px;

}
strong {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  text-align: center;

/*Job Titles*/
}
.jobtitle{
  font-size:1.5em;
  font-weight:600;
}
/*Job Organization*/
.organization{
  font-weight:400;
  font-size: 1.25em;
}
/*Job Dates*/
h5{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  }

  li {
    font-size:1em;
  }
